:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #3c92fa;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter'
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_sec {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__title {
    font-size: 28px;
    font-weight: 700;
}

.container__img {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.sec__img {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.desc__title {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin: 0.1em;
}

.desc__text {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__desc {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos_title {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 5em 3em 5em;

}

.list_link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__img {
    margin: 3em;
}

.rodape__text {
    margin: 1em 0em ;
    color: var(--branco-principal);
    font-size: 14px;
}

.list_link a:hover {
    color: var(--botao-azul);
}

.list_link a:active {
    color: var(--cinza-secundario);
}

.container_botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}
